version: "3.8"

services:
  gewaechshaus-sensor-reader:
    build: .
    container_name: gewaechshaus-sensor-reader
    restart: always
    healthcheck:
      disable: true
    privileged: true
    devices:
      - "/dev/gpiomem:/dev/gpiomem"
      - "/sys/bus/w1/devices:/sys/bus/w1/devices"
      - "/dev/i2c-1:/dev/i2c-1"
    env_file:
      - .env
    environment:
      - MEASURE_INTERVAL_SECONDS=60
      - LOG_LVL=INFO
      - TEMPERATURE_OUTSIDE_SENSOR_ID=000000b47976
      - TEMPERATURE_INSIDE_SENSOR_ID=000000b998e3
      - SOIL_MOISTURE_SENSOR_CHANNEL_BACK=23
      - SOIL_MOISTURE_SENSOR_CHANNEL_FRONT=24
      - LCD_COLUMNS=16
      - LCD_ROWS=2
    command: poetry run python -m src.services.sensor_reader.main