services:
  gewaechshaus-sensor-reader:
    build: 
      context: .
      dockerfile: Dockerfile.sensor_reader
    container_name: gewaechshaus-sensor-reader
    restart: always
    healthcheck:
      disable: true
    privileged: true
    devices:
      - "/dev/gpiomem:/dev/gpiomem"
      - "/sys/bus/w1/devices:/sys/bus/w1/devices"
      - "/dev/i2c-1:/dev/i2c-1"
    env_file:
      - .env

  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    container_name: gewaechshaus-api
    volumes:
      - ./data/sqlite:/data
    restart: always
    privileged: true
    devices:
      - "/dev/gpiomem:/dev/gpiomem"
    env_file:
      - .env
    ports:
      - "8001:8001"